.search-container {
  margin: auto;
  width: 50%;
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}




body {
  justify-content: center;
  align-content: center;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
}


#animals-results {
  /* border: 1px solid #333; */
  display: grid;
  margin: auto;
  width: 50%;
  align-items: start;

}

.animal-card {
  border: 1px solid #333;
  padding: 10px;
}

.animal-card-photo {
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.animal-card-content {
  padding: 3rem 3rem;
}

/* p.description {
  float: right;
  border: 1px solid #333;
}
*/

