.search-container {
  margin: auto;
  width: 50%;
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

#animals-results {
  border: 1px solid #333;
}

.animal-item {
  border: 1px solid #333;
  padding: 10px;
}
